body{
  font-family: "Bigshot One", serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; // adjust as needed
  background-color: #fff;

  .navbar-left,
  .navbar-right {
    display: flex;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    a {
      margin: 0 15px; // adjust for spacing
      text-decoration: none;
      color: black;
    }

    .logo {
      width: 75px;
      height: 25px;
      margin-right: 20px;
    }
  }

  .navbar-right {
    .sign-in {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 5px;
      }
    }

    .divider {
      margin: 0 10px;
    }

    .price {
      margin-right: 15px;
    }

    .cart-icon {
      width: 30px; // adjust as needed
    }
  }
}

.header-bottom .delivery-info {
  background-color: #000;
  height: 70px;
  align-content: center;
  p {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    word-spacing: 1px;
  }
  .changeordr-btn {
    background-color: #000;
    color: white;
    border-color: white;
    width: 70px;
    height: 30px;
    border-radius: 20px;
  }
}
main {
    padding: 20px;

    .addkart {
        text-align: center;
        padding: 50px 0;

        h1 {
            font-size: 1.5rem;
        }

        button {
            margin-top: 20px;
            padding: 10px 20px;
            border: none;
            background-color: #e4002b;
            color: white;
            cursor: pointer;
        }

        // img {
        //     margin-top: 30px;
        //     height: 150px;
        // }
    }

    .suggestions {
        margin-top: 50px;
        
        h2 {
            font-size: 1.25rem;
        }

        .suggestion-item {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 20px;
           

            img {
                height: 100px;
                
            }

            .details {
                h3 {
                    margin: 0;
                    font-size: 20px;
                }

                p {
                    margin: 5px 0;
                }

                button {
                    padding: 8px 16px;
                    border: none;
                    background-color: #e4002b;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}

.footer {
    background-color: #202124;
    color: #fff;
    // padding: 40px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    padding-top: 20px;
  
    .footer-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  
      .footer-logo img {
        height: 60px;
        width: 60px;
        margin-top: 25px;
        margin-left: 100px;
      }
  
      .footer-links {
        display: flex;
        gap: 40px;
  
        .column {
          h4 {
            margin-bottom: 10px;
            font-size: 16px;
          }
          ul {
            list-style: none;
            padding: 0;
  
            li {
              margin-bottom: 5px;
  
              a {
                color: #ccc;
                text-decoration: none;
  
                &:hover {
                  color: #fff;
                }
              }
            }
          }
        }
      }
  
      .footer-extras {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        .social-links {
          padding-top: 50px;
          a {
            img {
              height: 30px;
              width: 30px;
            }
          }
        }
        .flex1 {
          display: flex;
          margin-right: 50px;
        }
        .find-kfc {
          color: #fff;
          text-decoration: none;
          font-weight: bold;
          margin-top: 10px;
          margin-right: 40px;
          text-align: left;
          img {
            margin-right: 10px;
          }
        }
        .app-links {
          margin-right: 60px;
        }
  
        // .app-links img,
        // .social-links img {
        //   width: 100px;
        //   margin-right: 10px;
        // }
      }
    }
  
    .footer-bottom {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 40px;
      border-top: 1px solid #333;
      padding-top: 50px;
  
      p {
        font-size: 14px;
        text-align: center;
      }
      .social-links {
        width: 100px;
        margin-left: 500px;
        margin-top: 10px;
      }
    }
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
  
      .option1, .option2 {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }